<nav class="nav-buttons">
    <div class="logo"><a href="/"><img src="/assets/images/logo-urbanroots.svg" alt="UrbanRoots Logo"></a></div>
    <ul>
      <li *ngIf="(currentUser$ | async) === null"><a routerLink="/login">Connexion</a></li>
      <li *ngIf="(currentUser$ | async) === null"><a routerLink="/signup">Inscription</a></li>
      <li *ngIf="(currentUser$ | async) !== null"><a routerLink="/profile" class="underline-btn">Profil</a></li>
      <li *ngIf="(currentUser$ | async) !== null"><a routerLink="/discussions" class="underline-btn">Forums</a></li>
      <li *ngIf="(currentUser$ | async) !== null"><a (click)="signOut()" class="btn-green btn-default">Déconnexion</a></li>
    </ul>
  </nav>
  