nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nexa bold', sans-serif;

}
.logo img {
    width: 200px;
    max-width: 100%;
}
.btn-green {
    background-color: #6b7d5c;
    font-family: 'Nexalight', sans-serif;

}
.btn-default {
    width: 200px;
    padding: 10px 20px;
    /* border-radius: 20px; */
    color: #fff;
    cursor: pointer;
}
.nav-buttons {
    list-style: none;
    padding: 0;
  }

  .underline-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    transition: color 0.3s ease;
  }
  
  .underline-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  .underline-btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .underline-btn:hover {
    color: #007BFF;
  }
  a:-webkit-any-link {
    text-decoration: none;
  }