<body>
    <header>
        <h1>Mentions légales</h1>
    </header>
    <main>
        <section>
            <h2>Informations légales</h2>
            <p><strong>Nom du projet :</strong> UrbanRoots</p>
            <p><strong>Responsable de la publication</strong> GHERRI Yesmine</p>
            <p><strong>Statut :</strong> Développeuse we full stack</p>
            <p><strong>Contact :</strong> gherri.yesmine&#64;gmail.com</p>
        </section>
        
        <section>
            <h2>Hébergement du site</h2>
            <p><strong>Hébergeur :</strong> Firebase Hosting</p>
            <p><strong>Adresse de l'hébergeur :</strong> 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</p>
            <p><strong>Contact :</strong> <a href="https://firebase.google.com/support" target="_blank">Support Firebase</a></p>
        </section>
        
        <section>
            <h2>Propriété intellectuelle</h2>
            <p>
                  Les contenus de ce site (textes, images, logos, etc.) sont utilisés uniquement à des fins pédagogiques.
      Toute reproduction à des fins commerciales est interdite sans autorisation écrite.
            </p>
        </section>
    </main>
</body>