<div class="discussion-details">
  <h1 *ngIf="discussion$ | async as discussion">{{ discussion.title }}</h1>
</div>
<div class="comments-container">
    <div class="comments-list">
      <div *ngIf="(comments$ | async) as comments">
        <div *ngFor="let comment of comments">
          <p>{{ comment.text }}</p>
          <small>Par {{ comment.userName }}  {{ comment.createdAt | date:'EEEE d MMMM y, HH:mm' }}</small>
          <button class="btn-green-outline" *ngIf="comment.userId === currentUserId" (click)="deleteComment(comment.id!)">Supprimer</button>
          <hr class="comment-separator">
        </div>
      </div>
    </div>
  
    <div class="comment-input">
      <input id="comment" [(ngModel)]="newComment" placeholder="Écrivez votre commentaire ici">
      <button class="btn-green" [disabled]="currentUserFullName === 'Anonymous'" (click)="submitComment()">Envoyer le commentaire</button>
    </div>
  </div>
  