<form [formGroup]="gardenForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nom:</label>
      <input id="name" formControlName="name">
    </div>
    <div>
      <label for="description">Déscription:</label>
      <input id="description" formControlName="description">
    </div>
    <div>
      <label for="type">Type:</label>
      <input id="type" formControlName="type">
    </div>
    <div>
      <label for="address">Addresse:</label>
      <input id="address" formControlName="address">
    </div>
    <button type="submit" [disabled]="gardenForm.invalid">Ajouter</button>
  </form>
  