.form-style {
    width: 35%;
    padding: 20px;
    background-color: #85C484;
    margin: auto;
    font-family: 'Nexa bold', sans-serif;
    color: #fff;
    border-radius: 26px;
}

.form-style input, .form-style textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    font-family: 'Nexalight', sans-serif;
}

.form-style input:focus {
    border-color: #90ee90;
    outline: none;
    background-color: #fff;
}

.btn-default {
    width: 50%;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    border: none;
    font-family: 'Nexalight', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important; 
    -webkit-text-fill-color: #000 !important;
}

input:-moz-autofill {
    background-color: #f0f0f0 !important;
    color: #000 !important;
}

.margin-login {
    margin: 30px auto;
    text-align: center;
}

.btn-center {
    text-align: center;
}
.m-30-auto {
    margin: 30px auto;
}
.form-style h2 {
    text-align: center;
}
.garden-list {
    width: 60%;
    margin: auto;
    padding: 0 0 100px;
}
.garden-list h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Nexa bold', sans-serif;

}
.btn-green {
    background-color: #85C484;
    text-align: center;
    color: #fff;
    border-radius: 26px;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin: 0 30px;
    font-family: 'Nexa bold', sans-serif;

  }
  .btn-green-outline {
    background-color: #fff;
    text-align: center;
    color: #85C484;
    border-radius: 26px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #85C484;
    cursor: pointer;
    font-family: 'Nexa bold', sans-serif;

  }
  .garden-list ul li{
    display: flex;
    justify-content: center;
    font-family: 'Nexa bold', sans-serif;
    align-items: center;
  }
 .btn-add-garden {
    text-align: center;
    padding: 50px 0;
 }
 .btn-default-garden {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    border: none;
    font-family: 'Nexalight', sans-serif;

}
.add-garden p {
    font-family: 'Nexalight', sans-serif;
    width: 64%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    font-size: 20px;
}
.garden-list-empty {
    text-align: center;
    font-family: 'Nexalight', sans-serif;
    margin: 0 0 100px;

}

@media (max-width: 768px) {
.garden-list h2{
    font-size: 40px;
}
.garden-list {
    width: 80%;
}
.add-garden {
    width: 80%;
    text-align: start;
    margin: auto;
}
.add-garden p {
    width: 90%;
}
.garden-list ul li {
    display: block;
    margin-bottom: 50px;
}
.garden-list ul {
    padding-left: 0;
}
.btn-green {
    margin: 0 10px 0 0;
}
.form-style {
    width: 80%;
}
}