.map-container {
  width: 100% !important;
  height: 500px !important;
  border-radius: 20px;
}

google-map {
  width: 1000px !important;
  height: 500px !important;
}

.info-window {
  max-width: 200px;
}