<google-map [center]="center" [zoom]="zoom" class="map-style">
  <map-marker
    *ngFor="let markerPosition of markerPositions; let i = index"
    [position]="markerPosition"
    #marker="mapMarker"
    (mapClick)="openInfoWindow(marker, i)"
  ></map-marker>
  <map-info-window #infoWindow>
    <div *ngIf="selectedGarden" class="info-window">
      <h3>{{ selectedGarden.name }}</h3>
      <p>{{ selectedGarden.description }}</p>
      <p>Type: {{ selectedGarden.type }}</p>
      <p>Date d'ajout: {{ createdAtDate | date:'EEEE dd MMMM yyyy, à HH:mm' }}</p>
    </div>
  </map-info-window>
</google-map>
