footer {
    background-color: #000;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    font-family: 'NexaLight', sans-serif;


}
.footer-1 {
    display: flex;
    color: #fff;
    align-items: center;
    padding: 50px;
}
.footer-1 ul {
    list-style-type: none;
    
}
.logo, .footer-1-ul {
    width: 33%;
}
.footer-2 {
    padding: 30px 100px;
    color: #fff;
    justify-content: space-between;
    display: flex;
    font-family: 'NexaLight', sans-serif;
}
.footer-1-ul li {
    line-height: 50px;
    cursor: pointer;
}
.right img {
    margin-right: 20px;
    width: 35px;
    cursor: pointer;
}