<Footer>
    <div class="footer-1">
        <div class="logo">
            <img src="assets/images/logo-white.svg" alt="Logo">
        </div>
        <div class="footer-1-ul">
            <ul>
                <li><a href="/a-propos">A propos de nous</a></li>
                <li><a href="/mentions-legales">Mentions légales</a></li>
                <li><a href="conditions-utilisation">Conditions d'utilisation</a></li>
            </ul>
        </div>
        <div class="footer-1-ul">
            <ul>
                <li>Contactez-nous</li>
                <li>Email: contact&#64;urbanroots.com</li>
                <li>Téléphone : +33 1 23 45 67 89 </li>
                <li>Adresse : 123 Rue du jardin, Paris, France</li>
            </ul>
        </div>
    </div>
    <div class="footer-2">
        <div class="left">&copy; 2025 UrbanRoots. Tous droits réservés.</div>
        <div class="right">
            <img src="assets/images/facebook.svg" alt="Facebook">
            <img src="assets/images/instagram.svg" alt="Instagram">
            <img src="assets/images/tiktok.svg" alt="Tiktok">
        </div>
    </div>
</Footer>