<body>
    <header>
        <h1>Conditions d'utilisation</h1>
    </header>
    <main>
        <section>
            <h2>1. Acceptation des conditions</h2>
            <p>
                En accédant et en utilisant le site <strong>UrbanRoots</strong>, vous acceptez sans réserve les présentes conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site.
            </p>
        </section>
        
        <section>
            <h2>2. Utilisation du site</h2>
            <p>
                Vous vous engagez à utiliser le site <strong>UrbanRoots</strong> de manière conforme aux lois et règlements en vigueur, ainsi qu'aux bonnes mœurs. Vous ne devez en aucun cas utiliser le site pour diffuser des contenus illégaux, nuisibles, menaçants, abusifs, harcelants, diffamatoires, vulgaires, obscènes, ou autrement répréhensibles.
            </p>
        </section>
        
        <section>
            <h2>3. Propriété intellectuelle</h2>
            <p>
                Le contenu de ce site, y compris, mais sans s'y limiter, les textes, graphiques, images, logos et icônes, est protégé par les lois en vigueur sur la propriété intellectuelle et est la propriété exclusive de <strong>UrbanRoots SAS</strong> ou de ses partenaires. Toute utilisation non autorisée de ces contenus est strictement interdite.
            </p>
        </section>
        
        <section>
            <h2>4. Responsabilité</h2>
            <p>
                <strong>UrbanRoots SAS</strong> ne saurait être tenue pour responsable des dommages directs ou indirects, pouvant survenir de l'accès ou de l'utilisation du site <strong>UrbanRoots</strong>, y compris, mais sans s'y limiter, les pertes d'exploitation, pertes de données ou autres dommages intangibles.
            </p>
        </section>
        
        <section>
            <h2>5. Modifications des conditions d'utilisation</h2>
            <p>
                <strong>UrbanRoots SAS</strong> se réserve le droit de modifier à tout moment les présentes conditions d'utilisation. Vous êtes donc invités à les consulter régulièrement.
            </p>
        </section>
        
        <section>
            <h2>6. Droit applicable</h2>
            <p>
                Les présentes conditions d'utilisation sont régies par le droit français. Tout litige relatif à leur interprétation et/ou à leur exécution relève des tribunaux français compétents.
            </p>
        </section>
    </main>
</body>